/* terminal font */

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Inconsolata', monospace;
  }

  body, #root {
    height: 100vh;
  }
  
  .app {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
  }

  .app::before {
    content: "警告：災害が発生しました\n大切なお知らせです。現在、我々の地域で災害が発生しています。安全のため、以下の注意事項に従ってください。万が一、緊急の場合は、直ちに救助隊や地元の緊急連絡先に連絡してください。安全を最優先に行動し、指示に従ってください。";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-5deg);
    font-size: xx-large;
    background: -webkit-linear-gradient(#ff4f8a, #50d9ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }


  .music-controller{
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 16px;
    border-radius: 8px;
  }

  .icon-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 8px;
  }